WWWDATA_GID=1000
WWWDATA_UID=1000

NGINX_GID="${WWWDATA_GID}"
NGINX_UID="${WWWDATA_UID}"

PHP_FPM_GID="${WWWDATA_GID}"
PHP_FPM_UID="${WWWDATA_UID}"

PHP_WORKER_GID="${WWWDATA_GID}"
PHP_WORKER_UID="${WWWDATA_UID}"

MYSQL_ROOT_PASSWORD=password
